# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.zip
*.tar.gz

# Gradle #

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Allow Gradle wrapper jar
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea
